<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {{ content }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <script>
    $(function() {
      var qpopover = $(".question-popover").html();
      $(".questionnaire-actions").append(qpopover);

      var spopover = $(".survey-popover").html();
      $(".survey-actions").append(spopover);

      $(".questionnaire-actions").click(function() {
        $('.questionnaire-actions').not(this).each(function(){
          $(".popover-actions").removeClass("on");
        });
        $(this).find(".popover-actions").toggleClass("on off");
      });

      $(".survey-actions").click(function() {
        $('.survey-actions').not(this).each(function(){
          $(".popover-actions").removeClass("on");
        });
        $(this).find(".popover-actions").toggleClass("on off");
      });

      $(".comments").click(function(){
        alert("placeholder for comment status bubble")
      });

    });
    </script>

  </body>

</html>
